<div id="about-us">
  <section id="team-description">
    <%= img_tag(Routes.static_path(@conn, "/images/team-photo.jpg"), id: 'team-photo') %>

    <p>Team Oregon was established in 1987 to develop the cycling abilities of
      its members and the sport of competitive cycling with a focus on the
      Pacific Northwest.</p>

    <p>As we begin our thirty-first year, we continue to celebrate and support
      the cycling community by welcoming new members of all skill members,
      teaching proper racing skills, and helping our members achieve their
      cycling goals.</p>

    <p>Team Oregon operates a team-oriented model to ensure that all riders have
      a place. Experienced riders share their knowledge with less experienced
      team members, enabling growth and skill development. In addition to
      racing, members are encouraged to be active in the club and assist in the
      club’s operations and projects. Team Oregon actively promotes races,
      training rides, training camps, community cycling events, and
      coaching.</p>

    <p>The team’s mission is to enhance the sport of cycling in Oregon by
      organizing an accessible team with resources to help all members reach
      their goals within the sport.</p>
  </section>
</div>
