<div id="new-session">
  <%= form_for @conn, Routes.session_path(@conn, :create), fn f -> %>
    <header>
      <h2>Member Sign-In</h2>
    </header>
    <div>
      <%= input f, :email %>
      <%= input f, :password %>
      <%= form_actions f, submit: "Sign In" %>
    </div>
  <% end %>
</div>
