/* This file is for your main application css. */

/* Fontawesome 5 config */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: false;

$dark: #3E3E3F;

$primary: #6FAAC2;
$info:    #A4D9D2;

$body-bg: $dark;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "custom";
