<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TeamOregon - Home</title>
    <%= csrf_meta_tag() %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <%= render_messages(@conn) %>
    <nav id="page-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link img_tag(Routes.static_path(@conn, "/images/logo.png")), to: "/", id: "header-logo" %>
      <div id="navbarSupportedContent">
        <ul id="main-links">
          <%= main_menu_link(@conn, :home) %> 
          <%= main_menu_link(@conn, :join, unless: @current_user) %>
        </ul>
        <ul id="user-links">
          <%= if @current_user do %>
            <li id="logged-in-user-links">
              <a href="#" id="user-dropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><%= @current_user.display_name %></a>
              <div class="dropdown-menu" arial-labelledby="user-dropdown">
                <ul>
                  <%= main_menu_link(@conn, :sign_out) %>
                </ul>
              </div>
            </li>
          <% else %>
            <%= main_menu_link(@conn, :sign_in) %>
          <% end %>
        </ul>
      </div>
    </nav>
    <div id="content" class="sidebar">
      <div class="row">
        <%= render @view_module, @view_template, assigns %>
        <div id="sidebar">
          <div id="jersey">
            <%= img_tag(Routes.static_path(@conn, "/images/team-o-rodda-jersey.png")) %>
          </div>
          <div id="sb-sponsors">
            <h2>Sponsors</h2>
            <ul>
              <li id="sb-title-sponsor">
                <h3>Presented By</h3>
                <ul>
                  <li>
                    <a href="#">
                      <%= img_tag Routes.static_path(@conn, "/images/sponsors/rodda.png"),
                            alt: "Rodda Paint", title: "Rodda Paint Logo" %>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <h3>Sponsors</h3>
                <ul>
                  <li>
                    <a href="#">
                      <%= img_tag Routes.static_path(@conn, "/images/sponsors/northlake.jpg"), alt: "North Lake Physical Therapy", title: "North Lake Physical Therapy" %>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <%= img_tag Routes.static_path(@conn, "/images/sponsors/castelli.jpg"), alt: "Castelli", title: "Castelli" %>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <%= img_tag Routes.static_path(@conn, "/images/sponsors/organic_partners.jpg"), alt: "Organic Partners International", title: "Organic Partners International" %>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <%= img_tag Routes.static_path(@conn, "/images/sponsors/green_drop.jpg"), alt: "Green Drop Garage", title: "Green Drop Garage" %>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <%= img_tag Routes.static_path(@conn, "/images/sponsors/backporch.jpg"), alt: "Backporch Coffee", title: "Backporch Coffee" %>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <%= img_tag Routes.static_path(@conn, "/images/sponsors/river_city.jpg"), alt: "River City Bicycles", title: "River City Bicycles" %>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <%= img_tag Routes.static_path(@conn, "/images/sponsors/re_sports.jpg"), alt: "RE Sports Wellness / Melissa Shays", title: "RE Sports Wellness / Melissa Shays" %>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <%= img_tag Routes.static_path(@conn, "/images/sponsors/o2_endurance.jpg"), alt: "O2 Endurance", title: "O2 Endurance" %>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <%= img_tag Routes.static_path(@conn, "/images/sponsors/nuun.jpg"), alt: "Nuun", title: "Nuun" %>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
