<div id="alerts">
  <%= if @warn_membership_expired do %>
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>You are signed in, but it looks like you do not have a current team membership. Many portions of the team website (as well as sponsor discounts, access to the team mailing lists, etc) may be unavailable to you until you <%= link "purchase a current team membership", to: Routes.registration_path(@conn, :purchase_membership) %>.</p>
      <%= link "Purchase/Renew Team Membership Now", to: Routes.registration_path(@conn, :purchase_membership), id: "membership-expired-alert-btn" %>
    </div>
  <% end %>
  <%= if @has_error_messages do %>
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul>
        <%= for message <- @error_messages do %>
          <li>Error: <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= if @has_info_messages do %>
    <div class="alert alert-info alert-dismissable fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul>
        <%= for message <- @info_messages do %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
