<div id="registration-account-created">
  <h2>Email Confirmation Required</h2>

  <p>Your account has been created, but we need to confirm your email address
    before continuing the sign-up process. We've sent an email to
    <strong><%= @email_address %></strong> with instructions for confirming your
    account.</p>
</div>
