<div id="confirm-email" class="main-content">
  <%= form_for @conn,
        Routes.registration_path(@conn, :verify_email_confirmation_code),
        fn f -> %>
    <header>
      <h2>Email Confirmation Required</h2>
    </header>
    <section>
      <p>You must confirm the email address associated with your account before
        your account is fully activated. We sent an email to
        <%= @email_address %> with a confirmation code. Please either enter that
        code below or click on the link in that message.</p>

      <p>Didn't receive the confirmation email? We can
      <%= link "send another confirmation email",
            to: Routes.registration_path(@conn,
            :request_confirmation_email), method: "post" %>.</p>

    <%= input f, :confirmation_code %>
    <%= form_actions f, submit: "Validate" %>
    </section>
  <% end %>
</div>
