<div id="new-user-registration">
  <section id="join-the-team">
    <h2>Join the Team</h2>

    <p>Thank you for your interest in Team Oregon! We're looking forward to
      another excellent season of Road, Track, Mountain Bike and Cyclocross
      events.</p>

    <p>Team Oregon welcomes cyclists of all backgrounds and abilities. Whether
      you are an experienced racer or are thinking of pinning on a race number
      for the first time this season, we would love to support your goals as a
      member of our team.</p>

    <p>Benefits of team membership include:</p>

    <ul>
      <li>Discounted products or services from many of our sponsors</li>
      <li>Discounts on certain race entry fees (these can easily add up to more
        than what your membership costs over the course of a single
        season.)</li>
      <li>Awesome teammates who show up to race (we won the OBRA Team BAR
        competition in 2015, 2016, and 2017!)</li>
    </ul>
  </section>

  <%= form_for @new_user, Routes.registration_path(@conn, :create), fn f -> %>
    <header>
      <h3>Create Membership Account</h3>
    </header>
    <section>
      <%= input f, :name do %>
        Please provide your full, real name; this will not be shared publicly
        and is visible only to team leadership.
      <% end %>
      <%= input f, :display_name do %>
        Provide a display name to be used anywhere that we display information
        about you to other users, e.g. on the team roster or alongside your race
        reports. This may be the same as your real name if you prefer. Must be
        unique; may not contain profanity or other objectionable content.
      <% end %>
      <%= input f, :email_address do %>
        A confirmation message will be sent to this address. You will need to
        follow the instructions in that email in order to complete your
        membership application.
      <% end %>
      <%= inputs_for f, :credential, fn cf -> %>
        <%= input cf, :password,
              input_opts: [
                id: 'new-user-password',
                onkeyup: "window.passwordConfirmationValidation('new-user-password', 'new-user-password-confirmation');"
              ] do %>
          Passwords must be between 8 and 100 characters long. Please do not
          reuse passwords from other websites; using a unique password for each
          website you log into greatly reduces your risk of having your personal
          information exposed to hackers.
        <% end %>
        <%= input cf, :password_confirmation,
              input_opts: [
                id: "new-user-password-confirmation",
                onkeyup: "window.passwordConfirmationValidation('new-user-password', 'new-user-password-confirmation');"
              ] %>
      <% end %>
      <%= input(f, :accepts_code_of_conduct,
            input_opts: [required: "required"],
            label_text:
              "I agree to abide by the " <>
                safe_to_string(
                  link("Team Oregon Code of Conduct",
                    to: "#",
                    data: [toggle: "modal", target: "#teamOregonCoC"]
                  )
                )
          ) %>
      <div class="modal fade" id="teamOregonCoC" tabindex="-1" role="dialog" aria-labelledby="teamOregonCoCTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="teamOregonCoCTitle">Team Oregon Code of Conduct</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>All team members are expected to abide by the following rules:</p>

              <ol>
                <li>Minimum clothing purchase of current-year team kit clothing is 1 QTY
                  of each: Short Sleeve Jersey and Bibs.</li>

                <li>Maintain a good public image and represent Team Oregon, sponsors, and
                  other stakeholders positively through good sportsmanship and public
                  actions. This includes public interactions both online (blogs, social
                  media, email lists, etc) and offline (at races, events, etc).</li>

                <li>Avoid strong language in public while representing the team</li>

                <li>Adhere to the OBRA and/or USA Cycling rules. Ensure that team name is
                  associated with your membership when signing up (Team Oregon p/b Rodda
                  Paint)</li>

                <li>Don't extend team discounts to friends. If they like our deals, invite
                  them to join the team!</li>

                <li>Guest riding on another team is permitted with Team Oregon leadership
                  approval.</li>

                <li>Treat teammates, team leadership, race officials, volunteers, race
                  promoters and other riders with respect at all times.</li>

                <li>Treat spectators and race fans with respect while promoting Team
                  Oregon in a friendly and approachable manner</li>

                <li>Riders are responsible for knowing and abiding by the anti-doping
                  rules and regulations.</li>

                <li>Disputes or concerns between riders and/or team management are to be
                  addressed immediately through team management to quickly resolve
                  issues.</li>
              </ol>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <%= form_actions f, submit: "Register", cancel: "Cancel" %>
    </section>
  <% end %>
</div>
