<div id="purchase-membership">
  <h2>Purchase/Renew Your Team Oregon Membership</h2>

  <%= membership_status(@conn) %>

  <p>Please select one of the following options to purchase your membership:</p>

  <form id-"membership-type-selection">
    <table id="membership-types">
      <thead>
        <tr>
          <th>Membership Type</th>
          <th>Description</th>
          <th>Price</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Regular Membership</td>
          <td>Annual membership for adult team members. Most people should select this option.</td>
          <td>$65.00</td>
          <td><input type="radio" name="selected_membership" value="1"></td>
        </tr>
        <tr>
          <td>Student Membership</td>
          <td>Annual membership for students and juniors.</td>
          <td>$10.00</td>
          <td><input type="radio" name="selected_membership" value="2"></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
